In [19]:
import numpy as np
import pandas as pd

In [20]:
dataset_csv_path = '/home/data/Coswara-Data/combined_data.csv'
dev_list_path = '/home/debarpanb/coswara_final_project/coswara_validation_study/e120422_debottam_31.5.22/data/dev'
train_list_path = '/home/debarpanb/coswara_final_project/coswara_validation_study/e120422_debottam_31.5.22/data/train'
val_list_path = '/home/debarpanb/coswara_final_project/coswara_validation_study/e120422_debottam_31.5.22/data/val'
test_list_path = '/home/debarpanb/coswara_final_project/coswara_validation_study/e120422_debottam_31.5.22/data/test1_test2'

In [21]:
df_csv = pd.read_csv(dataset_csv_path)
df_csv

,id,a,covid_status,record_date,ep,g,l_c,l_l,l_s,rU,...,vacc,bd,others_resp,ftg,st,ihd,asthma,others_preexist,cld,pneumonia
0,iV3Db6t1T8b7c5HQY2TwxIhjbzD3,28,healthy,2020-04-23,y,male,India,Anantapur,Andhra Pradesh,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AxuYWBN0jFVLINCBqIW5aZmGCdu1,25,healthy,2020-04-20,y,male,India,BENGALURU URBAN,Karnataka,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C5eIsssb9GSkaAgIfsHMHeR6fSh1,28,healthy,2020-04-24,y,female,United States,Pittsburgh,Pennsylvania,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YjbEAECMBIaZKyfqOvWy5DDImUb2,26,healthy,2020-04-23,y,male,India,Bangalore,Karnataka,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aGOvk4ji0cVqIzCs1jHnzlw2UEy2,32,healthy,2020-04-22,y,male,India,Nalanda,Bihar,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2741,333NjqA1TfZJuICEdXSkPhVz0LA3,48,positive_asymp,2021-07-13,y,male,India,Thondamuthur,Tamil Nadu,n,...,p,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
2742,dpA0EeRrtJUeKJjEuf7BL0AeTJZ2,36,positive_mild,2021-07-06,y,male,India,MSRMC,Karnataka,n,...,p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2743,UXhG3vgoxkWtd4Meky1nm0sRgMV2,76,positive_mild,2021-07-13,y,male,India,Coimbatore,Tamil Nadu,n,...,y,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
2744,A5KW9PXraNgckln1gnNaJnX6DvB2,25,positive_moderate,2021-07-01,y,male,India,Coimbatore,Tamil Nadu,n,...,p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2745,iYwmYc9CdlSuzqGwIlXNWI6eFpm1,78,positive_mild,2021-07-06,y,female,India,Msrmc,Karnataka,n,...,p,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_csv = df_csv[~(df_csv.covid_status.isin(['under_validation']))]
df_csv = df_csv.loc[(df_csv.a>=15) & (df_csv.a<=90)]
df_csv

,id,a,covid_status,record_date,ep,g,l_c,l_l,l_s,rU,...,vacc,bd,others_resp,ftg,st,ihd,asthma,others_preexist,cld,pneumonia
0,iV3Db6t1T8b7c5HQY2TwxIhjbzD3,28,healthy,2020-04-23,y,male,India,Anantapur,Andhra Pradesh,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AxuYWBN0jFVLINCBqIW5aZmGCdu1,25,healthy,2020-04-20,y,male,India,BENGALURU URBAN,Karnataka,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C5eIsssb9GSkaAgIfsHMHeR6fSh1,28,healthy,2020-04-24,y,female,United States,Pittsburgh,Pennsylvania,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YjbEAECMBIaZKyfqOvWy5DDImUb2,26,healthy,2020-04-23,y,male,India,Bangalore,Karnataka,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aGOvk4ji0cVqIzCs1jHnzlw2UEy2,32,healthy,2020-04-22,y,male,India,Nalanda,Bihar,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2741,333NjqA1TfZJuICEdXSkPhVz0LA3,48,positive_asymp,2021-07-13,y,male,India,Thondamuthur,Tamil Nadu,n,...,p,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
2742,dpA0EeRrtJUeKJjEuf7BL0AeTJZ2,36,positive_mild,2021-07-06,y,male,India,MSRMC,Karnataka,n,...,p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2743,UXhG3vgoxkWtd4Meky1nm0sRgMV2,76,positive_mild,2021-07-13,y,male,India,Coimbatore,Tamil Nadu,n,...,y,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
2744,A5KW9PXraNgckln1gnNaJnX6DvB2,25,positive_moderate,2021-07-01,y,male,India,Coimbatore,Tamil Nadu,n,...,p,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2745,iYwmYc9CdlSuzqGwIlXNWI6eFpm1,78,positive_mild,2021-07-06,y,female,India,Msrmc,Karnataka,n,...,p,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
np.unique(df_csv.covid_status)

array(['healthy', 'no_resp_illness_exposed', 'positive_asymp',
       'positive_mild', 'positive_moderate', 'recovered_full',
       'resp_illness_not_identified'], dtype=object)

In [6]:
df_covid = df_csv.loc[df_csv.covid_status.isin(['positive_asymp', 'positive_mild', 'positive_moderate'])]
df_non_covid = df_csv.loc[df_csv.covid_status.isin(['healthy', 'no_resp_illness_exposed', 'resp_illness_not_identified'])]
df_recovered = df_csv.loc[df_csv.covid_status.isin(['recovered_full'])]

In [7]:
# India, Outside India

#non-covid
df_non_covid_india = df_non_covid[df_non_covid.l_c=='India']
df_non_covid_outside = df_non_covid[~(df_non_covid.l_c=='India')]
n_non_covid_india = df_non_covid_india.shape[0]
print(f'India: {n_non_covid_india}, Outside India: {df_non_covid.shape[0]-n_non_covid_india}')

#covid
df_covid_india = df_covid[df_covid.l_c=='India']
df_covid_outside = df_covid[~(df_covid.l_c=='India')]
n_covid_india = df_covid_india.shape[0]
print(f'India: {n_covid_india}, Outside India: {df_covid.shape[0]-n_covid_india}')

#recovered
df_recovered_india = df_recovered[df_recovered.l_c=='India']
df_recovered_outside = df_recovered[~(df_recovered.l_c=='India')]
n_recovered_india = df_recovered_india.shape[0]
print(f'India: {n_recovered_india}, Outside India: {df_recovered.shape[0]-n_recovered_india}')

India: 1612, Outside India: 207
India: 662, Outside India: 12
India: 137, Outside India: 5

In [8]:
##male 

#non-covid
df_male_india = df_non_covid_india[(df_non_covid_india.g.isin(['male']))]
df_male_outside = df_non_covid_outside[(df_non_covid_outside.g.isin(['male']))]
print(f'India: {df_male_india.shape[0]}, Outside: {df_male_outside.shape[0]}')

#covid
df_male_india = df_covid_india[(df_covid_india.g.isin(['male']))]
df_male_outside = df_covid_outside[(df_covid_outside.g.isin(['male']))]
print(f'India: {df_male_india.shape[0]}, Outside: {df_male_outside.shape[0]}')

#recovered
df_male_india = df_recovered_india[(df_recovered_india.g.isin(['male']))]
df_male_outside = df_recovered_outside[(df_recovered_outside.g.isin(['male']))]
print(f'India: {df_male_india.shape[0]}, Outside: {df_male_outside.shape[0]}')

India: 1183, Outside: 151
India: 402, Outside: 7
India: 71, Outside: 5

In [9]:
##female 

#non-covid
df_female_india = df_non_covid_india[df_non_covid_india.g=='female']
df_female_outside = df_non_covid_outside[df_non_covid_outside.g=='female']
print(f'India: {df_female_india.shape[0]}, Outside: {df_female_outside.shape[0]}')

#covid
df_female_india = df_covid_india[df_covid_india.g=='female']
df_female_outside = df_covid_outside[df_covid_outside.g=='female']
print(f'India: {df_female_india.shape[0]}, Outside: {df_female_outside.shape[0]}')

#recovered
df_female_india = df_recovered_india[df_recovered_india.g=='female']
df_female_outside = df_recovered_outside[df_recovered_outside.g=='female']
print(f'India: {df_female_india.shape[0]}, Outside: {df_female_outside.shape[0]}')

India: 429, Outside: 56
India: 260, Outside: 4
India: 66, Outside: 0

In [10]:
##age
age=[15,30]

#non-covid
df_age_india = df_non_covid_india.loc[(df_non_covid_india.a>=age[0]) & (df_non_covid_india.a<=age[1])]
df_age_outside = df_non_covid_outside.loc[(df_non_covid_outside.a>=age[0]) & (df_non_covid_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

#covid
df_age_india = df_covid_india.loc[(df_covid_india.a>=age[0]) & (df_covid_india.a<=age[1])]
df_age_outside = df_covid_outside.loc[(df_covid_outside.a>=age[0]) & (df_covid_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

#recovered
df_age_india = df_recovered_india.loc[(df_recovered_india.a>=age[0]) & (df_recovered_india.a<=age[1])]
df_age_outside = df_recovered_outside.loc[(df_recovered_outside.a>=age[0]) & (df_recovered_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

India: 834, Outside: 100
India: 260, Outside: 4
India: 61, Outside: 3

In [11]:
##age
age=[31,45]

#non-covid
df_age_india = df_non_covid_india.loc[(df_non_covid_india.a>=age[0]) & (df_non_covid_india.a<=age[1])]
df_age_outside = df_non_covid_outside.loc[(df_non_covid_outside.a>=age[0]) & (df_non_covid_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

#covid
df_age_india = df_covid_india.loc[(df_covid_india.a>=age[0]) & (df_covid_india.a<=age[1])]
df_age_outside = df_covid_outside.loc[(df_covid_outside.a>=age[0]) & (df_covid_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

#recovered
df_age_india = df_recovered_india.loc[(df_recovered_india.a>=age[0]) & (df_recovered_india.a<=age[1])]
df_age_outside = df_recovered_outside.loc[(df_recovered_outside.a>=age[0]) & (df_recovered_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

India: 485, Outside: 69
India: 174, Outside: 1
India: 38, Outside: 2

In [12]:
##age
age=[46,60]

#non-covid
df_age_india = df_non_covid_india.loc[(df_non_covid_india.a>=age[0]) & (df_non_covid_india.a<=age[1])]
df_age_outside = df_non_covid_outside.loc[(df_non_covid_outside.a>=age[0]) & (df_non_covid_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

#covid
df_age_india = df_covid_india.loc[(df_covid_india.a>=age[0]) & (df_covid_india.a<=age[1])]
df_age_outside = df_covid_outside.loc[(df_covid_outside.a>=age[0]) & (df_covid_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

#recovered
df_age_india = df_recovered_india.loc[(df_recovered_india.a>=age[0]) & (df_recovered_india.a<=age[1])]
df_age_outside = df_recovered_outside.loc[(df_recovered_outside.a>=age[0]) & (df_recovered_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

India: 225, Outside: 36
India: 147, Outside: 6
India: 28, Outside: 0

In [13]:
##age
age=[61,90]

#non-covid
df_age_india = df_non_covid_india.loc[(df_non_covid_india.a>=age[0]) & (df_non_covid_india.a<=age[1])]
df_age_outside = df_non_covid_outside.loc[(df_non_covid_outside.a>=age[0]) & (df_non_covid_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

#covid
df_age_india = df_covid_india.loc[(df_covid_india.a>=age[0]) & (df_covid_india.a<=age[1])]
df_age_outside = df_covid_outside.loc[(df_covid_outside.a>=age[0]) & (df_covid_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

#recovered
df_age_india = df_recovered_india.loc[(df_recovered_india.a>=age[0]) & (df_recovered_india.a<=age[1])]
df_age_outside = df_recovered_outside.loc[(df_recovered_outside.a>=age[0]) & (df_recovered_outside.a<=age[1])]
print(f'India: {df_age_india.shape[0]}, Outside: {df_age_outside.shape[0]}')

India: 68, Outside: 2
India: 81, Outside: 1
India: 10, Outside: 0

In [14]:
##state='karnataka'

#non-covid
df_state_india = df_non_covid_india[(df_non_covid_india.l_s.isin(['Karnataka']))]
#df_state_outside = df_non_covid_outside[(df_non_covid_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

#covid
df_state_india = df_covid_india[(df_covid_india.l_s.isin(['Karnataka']))]
#df_state_outside = df_covid_outside[(df_covid_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

#recovered
df_state_india = df_recovered_india[(df_recovered_india.l_s.isin(['Karnataka']))]
#df_state_outside = df_recovered_outside[(df_recovered_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

India: 654
India: 322
India: 70

In [15]:
##state='Tamil Nadu'

#non-covid
df_state_india = df_non_covid_india[(df_non_covid_india.l_s.isin(['Tamil Nadu']))]
#df_state_outside = df_non_covid_outside[(df_non_covid_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

#covid
df_state_india = df_covid_india[(df_covid_india.l_s.isin(['Tamil Nadu']))]
#df_state_outside = df_covid_outside[(df_covid_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

#recovered
df_state_india = df_recovered_india[(df_recovered_india.l_s.isin(['Tamil Nadu']))]
#df_state_outside = df_recovered_outside[(df_recovered_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

India: 206
India: 247
India: 42

In [16]:
##state='Kerala'

#non-covid
df_state_india = df_non_covid_india[(df_non_covid_india.l_s.isin(['Kerala']))]
#df_state_outside = df_non_covid_outside[(df_non_covid_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

#covid
df_state_india = df_covid_india[(df_covid_india.l_s.isin(['Kerala']))]
#df_state_outside = df_covid_outside[(df_covid_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

#recovered
df_state_india = df_recovered_india[(df_recovered_india.l_s.isin(['Kerala']))]
#df_state_outside = df_recovered_outside[(df_recovered_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

India: 63
India: 17
India: 2

In [17]:
##state='Maharashtra'

#non-covid
df_state_india = df_non_covid_india[(df_non_covid_india.l_s.isin(['Maharashtra']))]
#df_state_outside = df_non_covid_outside[(df_non_covid_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

#covid
df_state_india = df_covid_india[(df_covid_india.l_s.isin(['Maharashtra']))]
#df_state_outside = df_covid_outside[(df_covid_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

#recovered
df_state_india = df_recovered_india[(df_recovered_india.l_s.isin(['Maharashtra']))]
#df_state_outside = df_recovered_outside[(df_recovered_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

India: 182
India: 42
India: 11

In [18]:
##state='others'

#non-covid
df_state_india = df_non_covid_india[~(df_non_covid_india.l_s.isin(['Karnataka', 'Kerala', 'Maharashtra', 'Tamil Nadu']))]
#df_state_outside = df_non_covid_outside[~(df_non_covid_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

#covid
df_state_india = df_covid_india[~(df_covid_india.l_s.isin(['Karnataka', 'Kerala', 'Maharashtra', 'Tamil Nadu']))]
#df_state_outside = df_covid_outside[(df_covid_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

#recovered
df_state_india = df_recovered_india[~(df_recovered_india.l_s.isin(['Karnataka', 'Kerala', 'Maharashtra', 'Tamil Nadu']))]
#df_state_outside = df_recovered_outside[(df_recovered_outside.l_s.isin(['Karnataka']))]
print(f'India: {df_state_india.shape[0]}')

India: 507
India: 34
India: 12

In [16]:
# table 4 analysis

In [8]:
df_dev = pd.read_csv(dev_list_path, header=None, delimiter=' ')
df_dev.columns = ['id', 'covid_status']
df_dev

                                id covid_status
0     AxuYWBN0jFVLINCBqIW5aZmGCdu1            n
1     C5eIsssb9GSkaAgIfsHMHeR6fSh1            n
2     YjbEAECMBIaZKyfqOvWy5DDImUb2            n
3     aGOvk4ji0cVqIzCs1jHnzlw2UEy2            n
4     OW5RTM4WXPawz0QLpsfjsl4FqM22            n
...                            ...          ...
1199  ywRW1EYv4cN9O5an3SOqxzCeVMp1            p
1200  HeT8JGMWwDU6zFkB0vD27TrZAKK2            p
1201  5wFACyTuW6VpkLQxAZRCqPcLMpU2            p
1202  EXD4rC7IdLZoWke4tHOl7VqZftv1            p
1203  WkFTYwRZ28NqRSZTBP0lOA6oRBx1            p

[1204 rows x 2 columns]

In [10]:
df_train = pd.read_csv(train_list_path, header=None, delimiter=' ')
df_train.columns = ['id', 'covid_status']
df_train

                               id covid_status
0    AxuYWBN0jFVLINCBqIW5aZmGCdu1            n
1    C5eIsssb9GSkaAgIfsHMHeR6fSh1            n
2    YjbEAECMBIaZKyfqOvWy5DDImUb2            n
3    OW5RTM4WXPawz0QLpsfjsl4FqM22            n
4    lF4uHVWCoBPlnxvapmUJ4ROtYV73            n
..                            ...          ...
959  ywRW1EYv4cN9O5an3SOqxzCeVMp1            p
960  HeT8JGMWwDU6zFkB0vD27TrZAKK2            p
961  5wFACyTuW6VpkLQxAZRCqPcLMpU2            p
962  EXD4rC7IdLZoWke4tHOl7VqZftv1            p
963  WkFTYwRZ28NqRSZTBP0lOA6oRBx1            p

[964 rows x 2 columns]

In [11]:
df_val = pd.read_csv(val_list_path, header=None, delimiter=' ')
df_val.columns = ['id', 'covid_status']
df_val

                               id covid_status
0    aGOvk4ji0cVqIzCs1jHnzlw2UEy2            n
1    Q2rqPfhdilf16SbycBrtJ4gQ5Ep1            n
2    hbLP3s7RLsTgaMSRNWkIuuggpyL2            n
3    TPnsR1P2IhOaM7CRI5arH344GAN2            n
4    ubQOYCka4BUGeIeo6x3A9HYh8In2            n
..                            ...          ...
235  2CGjMIgiOeWRQ1qHHg8I76RiSkW2            p
236  RRoXAgdrSQTjklsyo44o2SqzdoG2            p
237  A21aoZx56kXiMAj3zwl05qtlDRB2            p
238  2NLN1vsBcwMF0cJ0g6tNDLVSpH33            p
239  5HdPVT7Sb4hkXAZeoI3lidVlxr82            p

[240 rows x 2 columns]

In [12]:
df_test = pd.read_csv(test_list_path, header=None, delimiter=' ')
df_test.columns = ['id', 'covid_status']
df_test

                               id covid_status
0    Ny6G594aKENcYgURBgYJJa62ziV2            n
1    RUG3ss3JaEVElB4LvuOrW8wC1pD2            n
2    fKZtrxD1qFVpLIgnmwEzWvnQZc83            n
3    4e9u1T1conYlXIQp89SQRgMPScY2            n
4    qhYsqvdV41c4THE9gd4ugJqIYW03            n
..                            ...          ...
395  Qsn6HHODdFMFK7Sd3XQLqQaDFQB2            p
396  RvUXdksXUjPGz9GqFI0cQtpdFw13            n
397  R4RGUF6ibtcRmk3SpqUoOO5JtEW2            n
398  8yIPLoTwbmdRKVFAwjiObA0sOYK2            p
399  kKU07z5BevhBk5j0VUE0Ae8dsex2            n

[400 rows x 2 columns]

In [13]:
covid_mild_ids = (df_csv[(df_csv.covid_status=='positive_mild')]).id.values
covid_mod_ids = (df_csv[(df_csv.covid_status=='positive_moderate')]).id.values
covid_asymp_ids = (df_csv[(df_csv.covid_status=='positive_asymp')]).id.values

len(covid_mild_ids), len(covid_mod_ids), len(covid_asymp_ids)

(421, 163, 90)

In [14]:
#dev

df_mild_dev = df_dev.loc[(df_dev.id.isin(covid_mild_ids))]
df_mod_dev = df_dev.loc[(df_dev.id.isin(covid_mod_ids))]
df_asymp_dev = df_dev.loc[(df_dev.id.isin(covid_asymp_ids))]

print(f'mild: {df_mild_dev.shape[0]}, mod: {df_mod_dev.shape[0]}, asymp: {df_asymp_dev.shape[0]}')

mild: 201, mod: 53, asymp: 52

In [15]:
#test

df_mild_test = df_test.loc[(df_test.id.isin(covid_mild_ids))]
df_mod_test = df_test.loc[(df_test.id.isin(covid_mod_ids))]
df_asymp_test = df_test.loc[(df_test.id.isin(covid_asymp_ids))]

print(f'mild: {df_mild_test.shape[0]}, mod: {df_mod_test.shape[0]}, asymp: {df_asymp_test.shape[0]}')

mild: 66, mod: 18, asymp: 16

In [16]:
#train

df_mild_train = df_train.loc[(df_train.id.isin(covid_mild_ids))]
df_mod_train = df_train.loc[(df_train.id.isin(covid_mod_ids))]
df_asymp_train = df_train.loc[(df_train.id.isin(covid_asymp_ids))]

print(f'mild: {df_mild_train.shape[0]}, mod: {df_mod_train.shape[0]}, asymp: {df_asymp_train.shape[0]}')

mild: 161, mod: 42, asymp: 42

In [17]:
#val

df_mild_val = df_val.loc[(df_val.id.isin(covid_mild_ids))]
df_mod_val = df_val.loc[(df_val.id.isin(covid_mod_ids))]
df_asymp_val = df_val.loc[(df_val.id.isin(covid_asymp_ids))]

print(f'mild: {df_mild_val.shape[0]}, mod: {df_mod_val.shape[0]}, asymp: {df_asymp_val.shape[0]}')

mild: 40, mod: 11, asymp: 10

In [18]:
df_non_covid_experiment = df_non_covid[df_non_covid.covid_status!='no_resp_illness_exposed']
np.unique(df_non_covid_experiment.covid_status)

array(['healthy', 'resp_illness_not_identified'], dtype=object)

In [19]:
symptoms = ['cold', 'cough', 'fever', 'diarrhoea', 'st', 'loss_of_smell', 'mp', 'ftg', 'bd']
for symp in symptoms:
    df_temp = df_non_covid_experiment.fillna(-1)
    print(np.unique(df_temp[symp]))

[-1 True]
[-1 True]
[-1 True]
[-1 True]
[-1 True]
[-1 True]
[-1 True]
[-1 True]
[-1 True]

In [20]:
df_resp_ill = df_non_covid_experiment[(df_non_covid_experiment.covid_status=='resp_illness_not_identified')]
df_healthy_symp = df_non_covid_experiment[~(df_non_covid_experiment.covid_status=='resp_illness_not_identified')]
df_symp = df_healthy_symp.loc[(df_healthy_symp.cold==True) | (df_healthy_symp.cough==True) | (df_healthy_symp.fever==True) | (df_healthy_symp.diarrhoea==True) | (df_healthy_symp.st==True) | (df_healthy_symp.loss_of_smell==True) | (df_healthy_symp.mp==True) | (df_healthy_symp.ftg==True) | (df_healthy_symp.bd==True)]
df_healthy = df_healthy_symp.loc[~(df_healthy_symp.id.isin(df_symp.id.values))]

In [23]:
#dev

df_resp_dev = df_dev.loc[(df_dev.id.isin(df_resp_ill.id.values))]
df_symp_dev = df_dev.loc[(df_dev.id.isin(df_symp.id.values))]
df_healthy_dev = df_dev.loc[(df_dev.id.isin(df_healthy.id.values))]

print(f'resp. ail.: {df_resp_dev.shape[0]}, symp.: {df_symp_dev.shape[0]}, healthy: {df_healthy_dev.shape[0]}')

resp. ail.: 74, symp.: 66, healthy: 758

In [24]:
#test

df_resp_test = df_test.loc[(df_test.id.isin(df_resp_ill.id.values))]
df_symp_test = df_test.loc[(df_test.id.isin(df_symp.id.values))]
df_healthy_test = df_test.loc[(df_test.id.isin(df_healthy.id.values))]

print(f'resp. ail.: {df_resp_test.shape[0]}, symp.: {df_symp_test.shape[0]}, healthy: {df_healthy_test.shape[0]}')

resp. ail.: 25, symp.: 32, healthy: 243

In [25]:
#train

df_resp_train = df_train.loc[(df_train.id.isin(df_resp_ill.id.values))]
df_symp_train = df_train.loc[(df_train.id.isin(df_symp.id.values))]
df_healthy_train = df_train.loc[(df_train.id.isin(df_healthy.id.values))]

print(f'resp. ail.: {df_resp_train.shape[0]}, symp.: {df_symp_train.shape[0]}, healthy: {df_healthy_train.shape[0]}')

resp. ail.: 59, symp.: 58, healthy: 602

In [26]:
#val

df_resp_val = df_val.loc[(df_val.id.isin(df_resp_ill.id.values))]
df_symp_val = df_val.loc[(df_val.id.isin(df_symp.id.values))]
df_healthy_val = df_val.loc[(df_val.id.isin(df_healthy.id.values))]

print(f'resp. ail.: {df_resp_val.shape[0]}, symp.: {df_symp_val.shape[0]}, healthy: {df_healthy_val.shape[0]}')

resp. ail.: 15, symp.: 8, healthy: 156